.main {
  font-family: sans-serif;
  font-size: 18px;
  width: 1366px;
  height: 768px;
  background-image: url(../img/bgi.jpg);
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: white;
}
.conteiner {
  padding: 50px 150px 20px 150px;
  margin: 0 auto;
 
}

.head-block {
  text-align: left;
}

.head-left {
  display: inline-block;
}

.head-right {
  float: right;
}

.head-a {
  color: white;
  text-decoration: none;
}

.contact1 {
  margin: 0;
  padding: 0;
}

.contact2 {
  margin: 0;
  padding: 0;
  float: right;
}

h1 {
  font-size: 29px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.logo-text {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 150px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position-y: 5px;
  transition: .5s all ease-in-out;
}

.logo-text:hover {
  color: #f26522;
  background-image: url(../img/logo1.png);
  background-repeat: no-repeat;
  background-position-y: 5px;
}

.main-grid1 {
  display: inline-block;
  margin: 42px 0 ;
}

.main-grid2 {
  display: inline-block;
  margin: 42px 59px;
}

.main-grid3 {
  display: inline-block;
  margin: 42px 0;
}

.main-grid4 {
  display: inline-block;
  margin-bottom: 12px;
}

.main-grid5 {
  display: inline-block;
  margin: 0 59px 12px 59px;
}

.main-grid6 {
  display: inline-block;
  margin-bottom: 12px;
}

.main-grid-part {
  width: 307px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 2.5px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, white 0%, black 100%);
  -webkit-border-image: -webkit-linear-gradient(top, white 0%, black 100%);
  border-image: linear-gradient(to bottombottom, white 0%, black 100%);
  border-image-slice: 1;
}

.main-grid-part a {
  color: white;
  text-decoration: none;
}

.img1 {
  background-image: url(../img/st1.png);
}

.img2 {
  background-image: url(../img/st2.png);
}

.img3 {
  background-image: url(../img/ft.png);
}

.img4 {
  background-image: url(../img/b&n.png);
}

.img5 {
  background-image: url(../img/a&a.png);
}

.img6 {
  background-image: url(../img/wt.png);
}

.yellow-part {
  display: inline-block;
  width: 313px;
  height: 63px;
  background-color: #f26522;
  margin-top: 140px;
  margin-left: -3px;
  opacity: 0;
  transition: .7s ease-in-out all;
  
}

.yellow-part:hover {
  opacity: 1;
 
}

.yellow-part-left {
  display: inline-block;
  margin: 5px 80px 10px 10px;
}

.yellow-part-right {
  display: inline-block;
  margin: 30px 15px 0 15px;
  vertical-align: top;
}

.discribe {
  padding: 15px 0;
}

.discribe a {
  text-decoration: none;
  color: white;
}

.discribe a:hover {
  color: #f26522
}

.p1 {
  font-size: 10px;
  line-height: 25px;
}

.p2 {
  font-size: 20px;
}

.p3 {
  font-size: 14px;
}
.p3:after {
  content:"";
  border: 5px solid white;
  border-color: transparent;
  display: inline-block;
  margin-left: 10px;
  border-left-color: white;
}

footer {
  font-size: 12px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.main-grid-part:hover .yellow-part {
  opacity: 1;
}
